@import "@Styles/variables";

.button {
  padding: 5px 10px;
  min-width: 100px;
  font-family: "Roboto";
  font-size: 1rem;
  border: 2px solid $color-grey-light;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s linear;

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.green {
  color: $color-white;
  background-color: $color-green;

  &:hover {
    background-color: $color-green-light;
  }

  &:disabled {
    background-color: $color-green;
  }
}

.red {
  color: $color-white;
  background-color: $color-red;

  &:hover {
    background-color: $color-pink;
  }
}
