@import "../../assets/styles/variables";

.filter {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.search {
  width: 200px;
  margin: 0 auto;
  position: relative;

  input {
    width: 100%;
  }
}

.icon {
  padding: 3px;
  opacity: 0.7;
  width: 27px;
  height: 27px;
  cursor: pointer;
  transition: all 0.1s linear;

  position: absolute;
  top: 50%;
  right: -30px;
  z-index: 1;
  transform: translateY(-50%);

  &:hover {
    opacity: 1;
  }
}

.filterControls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterButton {
  padding: 5px 10px;
  font-family: $main-text-font;
  font-size: 1rem;
  border: 2px solid $border-gray-color;
  border-right: none;
  background-color: $btn-regular-color;
  cursor: pointer;
  transition: all 0.1s linear;

  &:first-child {
    border-radius: 5px 0 0 5px;
  }

  &:last-child {
    border-right: 2px solid $border-gray-color;
    border-radius: 0 5px 5px 0;
  }

  &:hover {
    background-color: $btn-regular-hover-color;
  }
}

.active {
  font-weight: 700;
}

.deleteButton {
  width: fit-content;
  margin: 0 auto;
  padding: 5px 0;
  border: none;
  background-color: $btn-regular-color;
  font-family: $main-text-font;
  font-size: 1rem;
  color: $text-red-color;
  line-height: 1;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 767.98px) {
  .filter {
    grid-template-columns: 1fr;
    row-gap: 20px;
    position: relative;
  }

  .deleteButton {
    position: absolute;
    bottom: -30px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
  }
}

@media (max-width: 575.98px) {
  .search {
    width: 100%;
  }
}
