@import "@Styles/variables";
@import "@Styles/mixins";

.bg {
  width: 100vw;
  height: 100vh;
  background-color: $color-black-half;
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  @include flex-center;
}

.modal {
  width: 100%;
  max-width: 350px;
  padding: 1rem;
  margin: 0 20px;
  background-color: $color-white;
  color: $color-black;
  border: 2px solid $color-black;
  border-radius: 10px;

  &.dark {
    background-color: $color-grey-dark;
    color: $color-white;
  }
}

.title {
  text-align: center;
  margin-top: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.label {
  @include flex-between-center;
  column-gap: 5px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}

.error {
  margin: 0.2rem 0 1rem;
  font-size: 0.8rem;
  color: $color-red;
  @include position-absolute(34px, 0, 1);

  &.dark {
    color: $color-pink;
  }
}

@media (max-width: 575.98px) {
  .label {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;

    input {
      width: 100%;
    }
  }
}
