@import "../../assets/styles/variables";

.bg {
  background-color: $bg-modal-color;
  backdrop-filter: blur(3px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 100%;
  max-width: 350px;
  padding: 1rem;
  margin: 0 20px;
  background-color: $bg-white-color;
  border: 2px solid $border-black-color;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-top: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}

.error {
  margin: 0.2rem 0 1rem;
  font-size: 0.8rem;
  color: $text-red-color;
}

@media (max-width: 575.98px) {
  .label {
    margin-bottom: 10px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;

    input {
      width: 100%;
    }
  }
}
