.create {
  margin: 0 auto 2rem;
  display: flex;
  justify-content: center;
  gap: 5px;

  & > form input {
    width: 250px;
  }
}

.button {
  padding: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    width: 25px;
    height: 25px;
  }
}
