@import "@Styles/variables";
@import "@Styles/mixins";

.form {
  margin: 0 auto 1.5rem;
  display: flex;
  justify-content: center;
  gap: 5px;
  position: relative;

  input {
    width: 100%;
    max-width: 400px;
  }
}

.error {
  width: 100%;
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
  color: $color-red;
  position: absolute;
  bottom: -18px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);

  &.dark {
    color: $color-pink;
  }
}

.button {
  padding: 2px;
  border: 2px solid $color-grey-light;
  border-radius: 5px;
  background-color: $color-white;
  @include flex-center;
  cursor: pointer;

  &:hover {
    background-color: $color-grey-lightest;
  }
}

.icon {
  width: 25px;
  height: 25px;
}
