// *** Colors ***

// Button
$btn-success-color: #058240;
$btn-success-hover-color: #13b860;
$btn-cancel-color: #bc0000;
$btn-cancel-hover-color: #ed413e;

// Text
$text-white-color: #fff;
$text-black-color: #000;
$text-red-color: #bc0000;

// Background
$bg-white-color: #fff;
$bg-green-color: #058240;
$bg-red-color: #bc0000;
$bg-blue-color: #0ba5be;
$bg-modal-color: rgba(0, 0, 0, 0.5);

// Border
$border-black-color: #000;
$border-gray-color: #aaaba8;

// Card Item
$card-bg-color: #e0f4f5;

// *** Fonts ***
$main-text-font: "Roboto", sans-serif;
