// *** Fonts ***
$font-main: "Roboto", sans-serif;

// *** Colors ***
$color-black: #000;
$color-black-half: rgba(0, 0, 0, 0.5);
$color-white: #fff;
$color-white-dark: #e0f4f5;
$color-green: #058240;
$color-green-light: #13b860;
$color-red: #bc0000;
$color-pink: #ed413e;
$color-grey: #686461;
$color-grey-dark: #333;
$color-grey-light: #aaaba8;
$color-grey-lightest: #cfcbc8;
$color-blue: #02315e;
$color-blue-light: #0ba5be;
